<div class="wrapper">
  <div class="login-container">
    <h2>Login to Access Your Inventory</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username" [ngClass]="{ error: userNameOrEmailError }"
          >Username/Email</label
        >
        <input
          type="text"
          id="username"
          name="username"
          [ngClass]="{ 'error-input': userNameOrEmailError }"
          placeholder="Enter your email or your username"
          formControlName="emailOrUsername"
        />
        <span *ngIf="userNameOrEmailError" class="error-message"
          >* {{ userNameOrEmailError }}</span
        >
      </div>
      <div class="form-group">
        <label for="password" [ngClass]="{ error: passwordError }"
          >Password:</label
        >
        <input
          type="password"
          formControlName="password"
          [ngClass]="{ 'error-input': passwordError }"
          placeholder="Enter your password"
        />
        <span *ngIf="passwordError" class="error-message"
          >* {{ passwordError }}</span
        >
      </div>
      <div class="form-group">
        <button
          class="loginButton"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
    </form>
    <div class="signup-container">
      <p>Don't have an account?</p>
      <button type="button" class="signup-button" (click)="goToSignUp()">
        Sign Up
      </button>
    </div>
  </div>
</div>
