<div class="wrapper">
  <div class="signup-container" *ngIf="!showCodeInput; else showFormForCode">
    <h2>Create an Account</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
      <div class="form-group">
        <label
          for="username"
          [ngClass]="{
            error: usernameControl.invalid && usernameControl.touched
          }"
          >Username:
          <span
            *ngIf="
              usernameControl.invalid &&
              usernameControl.touched &&
              (usernameControl.hasError('minlength') ||
                usernameControl.hasError('required'))
            "
            class="error-message"
          >
            * Username must be at least 6 characters
          </span>
          <span
            class="error-message"
            *ngIf="
              usernameControl.invalid &&
              usernameControl.touched &&
              usernameControl.hasError('unavailable')
            "
            >The username is already taken</span
          >
        </label>
        <input
          type="text"
          id="username"
          formControlName="username"
          [ngClass]="{
            'error-input':
              usernameControl.invalid &&
              usernameControl.touched &&
              usernameControl.hasError('unavailable')
          }"
        />
      </div>
      <div class="form-group">
        <label
          for="email"
          [ngClass]="{ error: emailControl.invalid && emailControl.touched }"
          >Email:
          <span
            *ngIf="
              emailControl.invalid &&
              emailControl.touched &&
              (emailControl.hasError('pattern') ||
                emailControl.hasError('required'))
            "
            class="error-message"
          >
            * Valid email is required
          </span>
          <span
            class="error-message"
            *ngIf="
              emailControl.invalid &&
              emailControl.touched &&
              emailControl.hasError('unavailable')
            "
            >An account already exists with this email</span
          >
        </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [ngClass]="{
            'error-input': emailControl.invalid && emailControl.touched
          }"
        />
      </div>
      <div class="form-group">
        <label
          for="fullName"
          [ngClass]="{
            error: fullNameControl.invalid && fullNameControl.touched
          }"
          >Full Name:
          <span
            *ngIf="fullNameControl.invalid && fullNameControl.touched"
            class="error-message"
          >
            * Full Name must have at least 3 characters
          </span></label
        >
        <input
          type="text"
          id="fullName"
          formControlName="fullName"
          [ngClass]="{
            'error-input': fullNameControl.invalid && fullNameControl.touched
          }"
        />
      </div>
      <div class="form-group">
        <label
          for="password"
          [ngClass]="{
            error: passwordControl.invalid && passwordControl.touched
          }"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          formControlName="password"
          [ngClass]="{
            'error-input': passwordControl.invalid && passwordControl.touched
          }"
        />
        <span
          *ngIf="passwordControl.invalid && passwordControl.touched"
          class="error-message"
        >
          * Password and should contain at least 8 characters: atleast 1
          uppercase, atleast 3 digits, and atleast 3 special characters
        </span>
      </div>
      <div class="form-group">
        <label
          for="confirmPassword"
          [ngClass]="{
            error:
              signupForm.hasError('mismatch') && confirmPasswordControl.touched
          }"
          >Confirm Password:
          <span
            *ngIf="
              signupForm.hasError('mismatch') && confirmPasswordControl.touched
            "
            class="error-message"
          >
            * Passwords do not match
          </span></label
        >
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          [ngClass]="{
            'error-input':
              signupForm.hasError('mismatch') && confirmPasswordControl.touched
          }"
        />
      </div>
      <button
        class="signupButton"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        Sign Up
      </button>
    </form>
    <div class="login-container">
      <p>Already have an account?</p>
      <button type="button" class="login-button" (click)="goToLogin()">
        Login
      </button>
    </div>
  </div>
  <ng-template #showFormForCode>
    <div class="code-container">
      <form [formGroup]="codeValidationForm" (ngSubmit)="validateCode()">
        <div class="form-group">
          <label
            >Enter the 8 digit code sent to you email ({{
              userData.email
            }}):</label
          >
          <input
            type="text"
            name="codeInput"
            id="codeInput"
            formControlName="codeControl"
            placeholder="00000000"
            inputmode="numeric"
            [maxLength]="8"
            [minlength]="8"
            [ngClass]="{
              'error-input':
                validationCodeControl.invalid &&
                validationCodeControl.touched &&
                validationCodeControl.hasError('invalidCode')
            }"
          />
          <span
            *ngIf="
              validationCodeControl.invalid &&
              validationCodeControl.touched &&
              validationCodeControl.hasError('invalidCode') &&
              !validationCodeControl.hasError('expired')
            "
            class="error-message"
          >
            * The code you entered is invalid
          </span>
          <p
            *ngIf="
              validationCodeControl.invalid &&
              validationCodeControl.touched &&
              validationCodeControl.hasError('invalidCode') &&
              validationCodeControl.hasError('expired')
            "
            class="error-message"
          >
            * The code you entered has expired.
            <span class="no-error"
              >Another email has been sent to you with a new validation
              code</span
            >
          </p>
        </div>
        <button
          type="submit"
          class="validate-button"
          [disabled]="codeValidationForm.invalid"
        >
          Validate
        </button>
        <div class="resend-section">
          <p>Didn't receive any email?</p>
          <button
            type="button"
            class="resend-code"
            (click)="resendValidationCode()"
          >
            Resend email
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
