.wrapper {
  background: linear-gradient(
    to bottom,
    rgb(199, 175, 255),
    rgb(160, 217, 255)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
}

.signup-container {
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: "Arial", sans-serif;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding-top: 42px;
  margin-bottom: 20px;
}

.error {
  color: red;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #ddd; /* Adjust label color for contrast */
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f4f4f4; /* Input background color */
  color: #333; /* Input text color */
}

input:focus {
  outline: none;
  border-color: #7f85ff;
}

button,
.signupButton {
  padding: 12px 24px;
  background-color: #8b0000;
  color: #fff;
  width: 50%;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Adjust spacing */
}

.signupButton:enabled {
  background-color: #8b0000; /* Contrast color */
  color: #fff; /* Text color */
}

.signupButton:enabled:hover {
  background-color: #b30000;
}

.signupButton:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.login-container {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.login-button {
  padding: 12px 24px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 50%;
  margin-top: 20px; /* Adjust spacing */
}

.login-button:hover {
  background-color: #333333;
}
.error-input {
  border: 1px solid red;
  outline: 1px solid red;
}

.error-message {
  color: red;
  display: inline-block;
  text-align: initial;
  margin-top: 5px;
  font-size: 14px;
}
