<div
  class="bg-gradient-to-b from-purple-300 via-violet-600 to-blue-300 flex flex-col justify-center items-center overflow-hidden min-h-screen"
>
  <div
    class="signup-container max-w-2xl w-full h-full min-h-fit my-0 mx-auto text-center p-12 rounded-lg bg-gradient-to-br from-indigo-600 via-cyan-700 to-blue-500 shadow-md text-white"
    *ngIf="!showCodeInput; else showFormForCode"
  >
    <h2 class="text-2xl m-0 pt-11 mb-5">Create an Account</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
      <div class="mb-4 mx-24">
        <label
          class="block text-left mb-1.5 text-white"
          for="username"
          [ngClass]="{
            'text-red-500': usernameControl.invalid && usernameControl.touched
          }"
          >Username:
          <span
            *ngIf="
              usernameControl.invalid &&
              usernameControl.touched &&
              (usernameControl.hasError('minlength') ||
                usernameControl.hasError('required'))
            "
            class="text-red-500 inline-block text-left mt-1.5 text-sm"
          >
            * Username must be at least 6 characters
          </span>
          <span
            class="text-red-500 inline-block text-left mt-1.5 text-sm"
            *ngIf="
              usernameControl.invalid &&
              usernameControl.touched &&
              usernameControl.hasError('unavailable')
            "
            >The username is already taken</span
          >
        </label>
        <input
          type="text"
          id="username"
          formControlName="username"
          [ngClass]="{
            'border border-solid border-red-500 outline-1 outline outline-red-500':
              usernameControl.invalid &&
              usernameControl.touched &&
              usernameControl.hasError('unavailable')
          }"
          class="w-full p-2.5 mt-1.5 box-border border border-solid border-slate-50 rounded text-base bg-slate-200 text-gray-900 focus:outline-none focus-within:border-green-500"
        />
      </div>
      <div class="mb-4 mx-24">
        <label
          class="block text-left mb-1.5 text-white"
          for="email"
          [ngClass]="{
            'text-red-500': emailControl.invalid && emailControl.touched
          }"
          >Email:
          <span
            *ngIf="
              emailControl.invalid &&
              emailControl.touched &&
              (emailControl.hasError('pattern') ||
                emailControl.hasError('required'))
            "
            class="text-red-500 inline-block text-left mt-1.5 text-sm"
          >
            * Valid email is required
          </span>
          <span
            class="text-red-500 inline-block text-left mt-1.5 text-sm"
            *ngIf="
              emailControl.invalid &&
              emailControl.touched &&
              emailControl.hasError('unavailable')
            "
            >An account already exists with this email</span
          >
        </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [ngClass]="{
            'border border-solid border-red-500 outline-1 outline outline-red-500':
              emailControl.invalid && emailControl.touched
          }"
          class="w-full p-2.5 mt-1.5 box-border border border-solid border-slate-50 rounded text-base bg-slate-200 text-gray-900 focus:outline-none focus-within:border-green-500"
        />
      </div>
      <div class="mb-4 mx-24">
        <label
          class="block text-left mb-1.5 text-white"
          for="fullName"
          [ngClass]="{
            'text-red-500': fullNameControl.invalid && fullNameControl.touched
          }"
          >Full Name:
          <span
            *ngIf="fullNameControl.invalid && fullNameControl.touched"
            class="text-red-500 inline-block text-left mt-1.5 text-sm"
          >
            * Full Name must have at least 3 characters
          </span></label
        >
        <input
          type="text"
          id="fullName"
          formControlName="fullName"
          [ngClass]="{
            'border border-solid border-red-500 outline-1 outline outline-red-500':
              fullNameControl.invalid && fullNameControl.touched
          }"
          class="w-full p-2.5 mt-1.5 box-border border border-solid border-slate-50 rounded text-base bg-slate-200 text-gray-900 focus:outline-none focus-within:border-green-500"
        />
      </div>
      <div class="mb-4 mx-24">
        <label
          class="block text-left mb-1.5 text-white"
          for="password"
          [ngClass]="{
            'text-red-500': passwordControl.invalid && passwordControl.touched
          }"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          formControlName="password"
          [ngClass]="{
            'border border-solid border-red-500 outline-1 outline outline-red-500':
              passwordControl.invalid && passwordControl.touched
          }"
          class="w-full p-2.5 mt-1.5 box-border border border-solid border-slate-50 rounded text-base bg-slate-200 text-gray-900 focus:outline-none focus-within:border-green-500"
        />
        <span
          *ngIf="passwordControl.invalid && passwordControl.touched"
          class="text-red-500 inline-block text-left mt-1.5 text-sm"
        >
          * Password and should contain at least 8 characters: atleast 1
          uppercase, atleast 3 digits, and atleast 3 special characters
        </span>
      </div>
      <div class="mb-4 mx-24">
        <label
          class="block text-left mb-1.5 text-white"
          for="confirmPassword"
          [ngClass]="{
            'text-red-500':
              signupForm.hasError('mismatch') && confirmPasswordControl.touched
          }"
          >Confirm Password:
          <span
            *ngIf="
              signupForm.hasError('mismatch') && confirmPasswordControl.touched
            "
            class="text-red-500 inline-block text-left mt-1.5 text-sm"
          >
            * Passwords do not match
          </span></label
        >
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          [ngClass]="{
            'border border-solid border-red-500 outline-1 outline outline-red-500':
              signupForm.hasError('mismatch') && confirmPasswordControl.touched
          }"
          class="w-full p-2.5 mt-1.5 box-border border border-solid border-slate-50 rounded text-base bg-slate-200 text-gray-900 focus:outline-none focus-within:border-green-500"
        />
      </div>
      <button
        class="signupButton py-3 px-6 text-white w-1/2 border-none cursor-pointer rounded-3xl text-base transition-colors duration-300 ease-linear mt-5 enabled:bg-red-900 enabled:hover:bg-red-700 disabled:bg-white disabled:text-slate-700 disabled:cursor-not-allowed"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        Sign Up
      </button>
    </form>
    <div class="mt-5 text-center text-white">
      <p>Already have an account?</p>
      <button
        type="button"
        class="login-button py-3 px-6 bg-black text-white w-1/2 border-none cursor-pointer rounded-3xl text-base transition-colors duration-300 ease-linear mt-5 hover:bg-slate-700"
        (click)="goToLogin()"
      >
        Login
      </button>
    </div>
  </div>
  <ng-template #showFormForCode>
    <div
      class="code-container max-w-2xl w-full h-full min-h-fit my-0 mx-auto text-center p-12 rounded-lg bg-gradient-to-br from-yellow-200 via-emerald-200 to-green-300 shadow-md text-white flex flex-col justify-center items-center"
    >
      <form [formGroup]="codeValidationForm" (ngSubmit)="validateCode()">
        <div class="mb-4 mx-24">
          <label class="block text-left mb-1.5 font-bold text-white"
            >Enter the 8 digit code sent to you email ({{
              userData.email
            }}):</label
          >
          <input
            type="text"
            name="codeInput"
            id="codeInput"
            formControlName="codeControl"
            placeholder="00000000"
            inputmode="numeric"
            [maxLength]="8"
            [minlength]="8"
            [ngClass]="{
              'border border-solid border-red-500 outline-1 outline outline-red-500':
                validationCodeControl.invalid &&
                validationCodeControl.touched &&
                validationCodeControl.hasError('invalidCode')
            }"
            class="w-full p-2.5 mt-1.5 box-border border border-solid border-slate-50 rounded text-base bg-slate-200 text-gray-900 focus:outline-none focus-within:border-green-500"
          />
          <span
            *ngIf="
              validationCodeControl.invalid &&
              validationCodeControl.touched &&
              validationCodeControl.hasError('invalidCode') &&
              !validationCodeControl.hasError('expired')
            "
            class="text-red-500 font-bold inline-block text-left mt-1.5 text-sm"
          >
            * The code you entered is invalid
          </span>
          <p
            *ngIf="
              validationCodeControl.invalid &&
              validationCodeControl.touched &&
              validationCodeControl.hasError('invalidCode') &&
              validationCodeControl.hasError('expired')
            "
            class="text-red-500 font-bold inline-block text-left mt-1.5 text-sm"
          >
            * The code you entered has expired.
            <span class="text-white"
              >Another email has been sent to you with a new validation
              code</span
            >
          </p>
        </div>
        <button
          type="submit"
          class="validate-button py-3 px-6 text-white w-3/5 border-none cursor-pointer rounded-3xl text-base transition-colors duration-300 ease-linear mt-5 disabled:bg-slate-200 disabled:text-slate-600 disabled:cursor-not-allowed enabled:bg-black enabled:hover:bg-slate-700"
          [disabled]="codeValidationForm.invalid"
        >
          Validate
        </button>
        <div class="mt-5">
          <p>Didn't receive any email?</p>
          <button
            type="button"
            class="resend-code"
            (click)="resendValidationCode()"
          >
            Resend email
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
